## Task 1.2

-	Describe all relevant variables and associated data types (slide). 

-	Analyze the basic metrics (mean, median, etc) in the Dataset (explain) & their importance for the global objective.

-	Conduct a Non-Graphical Univariate Analysis by computing dispersion parameters for each quantitative variable and providing useful interpretation. 

-	Conduct a Graphical Univariate Analysis by identifying the most suitable plotting options for each variable and interpreting your findings.

-	Bivariate Analysis – explore the relationship between each application & the total DL+UL data using appropriate methods and interpret your findings. 

-	Variable transformations – segment the users into the top five decile classes based on the total duration for all sessions and compute the total data (DL+UL) per decile class. 

-	Correlation Analysis – compute a correlation matrix for the following variables and interpret your findings: Social Media data, Google data, Email data, Youtube data, Netflix data, Gaming data, Other data 

-	Dimensionality Reduction – perform a principal component analysis to reduce the dimensions of your data and provide a useful interpretation of the results (Provide your interpretation in four (4) bullet points-maximum).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os
import sys

from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [2]:
base_path = os.path.abspath(os.getcwd().split("src")[0])
if base_path not in sys.path:
    sys.path.append(base_path)

from src.scripts.utils import set_path
from src.scripts.utils import format_column_names

In [3]:
path = set_path("data")

In [4]:
customers_xdr_data = pd.read_csv(path + "customers_xdr_data.csv", index_col= 0)

In [5]:
customers_xdr_data

,tot_number_of_session,tot_sessions_duration_(hrs),social_media_data_(mibs),google_data_(mibs),email_data_(mibs),youtube_data_(mibs),netflix_data_(mibs),gaming_apps_data_(mibs),http_data_(mibs),tot_downloaded_data_(mibs),tot_uploaded_data_(mibs),tot_data_(mibs)
msisdn,,,,,,,,,,,,
3.362632e+10,2.0,74.619444,4.591020,18.904475,5.503754,54.022535,54.189150,1079.023420,1.953813,1131.203211,93.427970,1219.204461
3.361489e+10,2.0,74.619444,4.591020,18.904475,5.503754,54.022535,54.189150,1079.023420,71.711683,1131.203211,93.427970,1219.204461
3.362578e+10,2.0,74.619444,4.591020,18.904475,5.503754,54.022535,54.189150,1079.023420,0.251041,1131.203211,93.427970,1219.204461
3.365973e+10,2.0,74.619444,4.591020,18.904475,5.503754,54.022535,54.189150,1079.023420,32.827229,1131.203211,93.427970,1219.204461
3.376054e+10,2.0,74.619444,4.591020,18.904475,5.503754,54.022535,54.189150,1079.023420,34.483237,1131.203211,93.427970,1219.204461
...,...,...,...,...,...,...,...,...,...,...,...,...
3.368998e+10,1.0,17.104722,1.831686,4.925508,2.958875,15.767182,24.003848,257.283200,0.000000,282.836539,26.735758,309.572297
3.376372e+10,1.0,7.845000,0.521147,6.571997,1.435704,8.413353,12.489888,88.418221,0.349669,90.259861,34.682653,124.942514
3.360748e+10,1.0,27.375833,1.671159,10.843760,2.538713,24.319468,38.687267,596.418208,0.000000,635.534353,47.885675,683.420029
3.369955e+10,1.0,28.144722,0.614027,3.247724,2.884835,18.812440,8.773108,83.962401,0.000000,95.155355,32.595973,127.751328
3.361962e+10,1.0,27.197222,0.784978,7.397906,2.718843,16.329296,15.730707,338.617750,0.000000,354.667587,28.253647,382.921234

In [6]:
ss = customers_xdr_data.describe().loc[["mean", "min", "50%", "75%", "max"]].T

In [7]:
ss.style.set_precision(2).set_properties(**{"width": "100px", "color": "blue"})

C:\Users\abola\AppData\Local\Temp/ipykernel_10636/4215655550.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  ss.style.set_precision(2).set_properties(**{"width": "100px", "color": "blue"})

In [8]:
# customers_xdr_data.iloc[:,:1].boxplot(figsize= (20,10), whis= (0,100))

In [9]:
# customers_xdr_data.iloc[:,1:2].boxplot(figsize= (20,10), whis= (0,100))

In [10]:
# customers_xdr_data.iloc[:,2:7].boxplot(figsize= (20,10), whis= (0,100))

In [11]:
# customers_xdr_data.iloc[:,7:12].boxplot(figsize= (20,10), whis= (0,100))

In [13]:
sessions_and_data_used_sorted = \
(customers_xdr_data[["tot_sessions_duration_(hrs)", "tot_data_(mibs)"]]
 .sort_values(["tot_sessions_duration_(hrs)"], ascending= False)
)

In [14]:
sessions_binned = pd.qcut(sessions_and_data_used_sorted.iloc[:,0], 10, labels=np.arange(10))
sessions_binned.name = "sessions_bin_class"

In [15]:
tot_sessions_and_data_used_binned = (sessions_and_data_used_sorted.join(sessions_binned)
                                     .groupby("sessions_bin_class").aggregate("mean")
                                    )

In [16]:
tot_sessions_and_data_used_binned

                    tot_sessions_duration_(hrs)  tot_data_(mibs)
sessions_bin_class
0                                      5.575783       485.338551
1                                     11.174727       545.337682
2                                     19.762667       580.193449
3                                     23.991330       476.303632
4                                     26.186158       531.467483
5                                     32.619764       573.512139
6                                     41.050866       549.079178
7                                     48.594196       697.853162
8                                     64.655305       896.134879
9                                    110.785855      1235.782985

In [17]:
customers_xdr_data.describe()

,tot_number_of_session,tot_sessions_duration_(hrs),social_media_data_(mibs),google_data_(mibs),email_data_(mibs),youtube_data_(mibs),netflix_data_(mibs),gaming_apps_data_(mibs),http_data_(mibs),tot_downloaded_data_(mibs),tot_uploaded_data_(mibs),tot_data_(mibs)
count,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000,106856.000000
mean,1.384564,38.380373,2.420696,10.329540,2.988810,29.964980,29.940299,569.710131,15.432121,601.863919,54.412366,656.205768
std,0.757105,31.333355,1.769139,6.933531,2.043278,19.575267,19.561351,416.099180,58.413049,429.803593,32.608565,453.252924
min,1.000000,1.983889,0.001491,0.038462,0.017334,0.075248,0.176019,0.292166,0.000000,8.418161,2.734081,31.708726
25%,1.000000,19.807778,1.155168,5.667339,1.596910,17.767991,17.696355,274.718392,0.000000,300.242485,34.709430,341.939838
50%,1.000000,28.538889,2.197033,9.142068,2.670121,25.558830,25.481119,517.224509,0.000275,543.945048,44.626108,589.297426
75%,2.000000,47.999722,3.154286,12.602558,3.668973,36.170936,36.217649,741.294992,1.654904,769.962778,62.686913,817.713878
max,6.000000,253.278056,14.447625,58.611154,17.138736,168.867242,168.561696,3405.036231,530.469074,3532.342183,291.865138,3758.768258

In [18]:
corr_data = (customers_xdr_data[['social_media_data_(mibs)', 'google_data_(mibs)',
                                'email_data_(mibs)', 'youtube_data_(mibs)',
                                'netflix_data_(mibs)', 'gaming_apps_data_(mibs)',
                                'http_data_(mibs)'
                                ]].corr()
                                )

In [19]:
corr_data

,social_media_data_(mibs),google_data_(mibs),email_data_(mibs),youtube_data_(mibs),netflix_data_(mibs),gaming_apps_data_(mibs),http_data_(mibs)
social_media_data_(mibs),1.000000,0.616932,0.607662,0.635015,0.635013,0.564985,0.126424
google_data_(mibs),0.616932,1.000000,0.660916,0.692848,0.691060,0.616318,0.137183
email_data_(mibs),0.607662,0.660916,1.000000,0.678967,0.679299,0.600759,0.130857
youtube_data_(mibs),0.635015,0.692848,0.678967,1.000000,0.714013,0.632017,0.144675
netflix_data_(mibs),0.635013,0.691060,0.679299,0.714013,1.000000,0.632024,0.137455
gaming_apps_data_(mibs),0.564985,0.616318,0.600759,0.632017,0.632024,1.000000,0.125515
http_data_(mibs),0.126424,0.137183,0.130857,0.144675,0.137455,0.125515,1.000000

#### performing PCA on customers_xdr_data

In [20]:
## normalize data
scaler = MinMaxScaler()
agg_scaled = scaler.fit_transform(customers_xdr_data)

In [21]:
pd.DataFrame(PCA(1, random_state= 0).fit_transform(agg_scaled)).describe().style

In [22]:
pd.DataFrame(agg_scaled).describe().style